{% extends "base.html" %}

{% block title %} - All Students {% endblock %}

{% block content %}
    <div class="raw">
        {% if not all_students %}

            <p>No students</p>

        {% else %}

            <table class="table table-striped table-hover text-center align-middle">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Birthday
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        <i class="bi bi-pencil-fill"></i>
                    </th>
                    <th>
                        <i class="bi bi-trash2"></i>
                    </th>
                </tr>

                {% for st in all_students %}

                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a href="{% url "student:info" st.pk %}"> {{ st.name }} {{ st.surname }} </a>
                        </td>

                        <td>
                            {{ st.email }}
                        </td>

                        <td>
                            {{ st.birthday|date:"d M Y" }}
                        </td>

                        <td style="width: 100px;">
                            {{ st.get_age }}
                        </td>

                        <td style="width: 100px;">
                            <a href="{% url "student:edit" st.pk %}" class="btn btn-outline-primary m-2 btn-sm">
                                Edit
                            </a>
                        </td>

                        <td style="width: 100px;">
                            <a href="{% url "student:delete" st.pk %}" class="btn btn-outline-danger m-2 btn-sm">
                                Delete
                            </a>
                        </td>

                    </tr>

                {% endfor %}

            </table>

        {% endif %}
    </div>
{% endblock %}