{% extends "patterns/base.html" %}

{% block content %}

    <h3>{{ student.name }} {{ student.surname }}</h3>

    <table>
        <tr>
            <th>
                Email:
            </th>
            <td>
                {{ student.email }}
            </td>
        </tr>


        {% if student.birthday %}
            <tr>
                <th>
                    Birthday:
                </th>
                <td>
                    {{ student.birthday }}
                </td>
            </tr>
        {% endif %}


        {% if student.city %}
            <tr>
                <th>
                    City:
                </th>
                <td>
                    {{ student.city }}
                </td>
            </tr>
        {% endif %}


        {% if student.phone_number %}
            <tr>
                <th>
                    Phone:
                </th>
                <td>
                    {{ student.phone_number }}
                </td>
            </tr>
        {% endif %}
    </table>

    <br>

    <a href="{% url "edit_student" student.pk %}" style="text-decoration: none;">
        <input type="button" value="Edit">
    </a>


    <a href="{% url "delete_student" student.pk %}" style="text-decoration: none;">
        <input type="button" value="Delete">
    </a>

    <a href="{% url "students" %}" style="text-decoration: none;">
        <input type="button" value="Back">
    </a>

{% endblock %}