{% extends "base.html" %}

{% block content %}
    <a href="{% url "student:create" %}">Create new Student</a><br><br>

    {% if not all_students %}

        <p>No students</p>

    {% else %}

        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Birthday
                </th>
                <th></th>
                <th></th>
            </tr>

            {% for st in all_students %}

                <tr>

                    <td>
                        <a href="{% url "student:info" st.pk %}"> {{ st.name }} {{ st.surname }} </a>
                    </td>

                    <td style="padding: 5px;">
                        {{ st.email }}
                    </td>

                    <td>
                        {{ st.birthday }}
                    </td>

                    <td>
                        <a href="{% url "student:edit" st.pk %}"> Edit </a>
                    </td>

                    <td>
                        <a href="{% url "student:delete" st.pk %}"> Delete </a>
                    </td>

                </tr>

            {% endfor %}

        </table>

    {% endif %}
{% endblock %}