{% extends "base.html" %}

{% block title %} - All Groups {% endblock %}

{% block content %}
    <a href="{% url "group:create" %}">Create new Group</a><br><br>

    {% if not all_groups %}

        <p>No groups</p>

    {% else %}

        <table style="width: 60%;">
            <tr>
                <th width="120px">
                    Start Date
                </th>
                <th width="150px">
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>

            {% for group in all_groups %}

                <tr>

                    <td style="padding: 5px;">
                        {{ group.start_date }}
                    </td>

                    <td style="padding: 5px;">
                        <a href="{% url "group:info" group.pk %}"> {{ group.name }} </a>
                    </td>

                    <td style="padding: 5px;">
                        {{ group.description }}
                    </td>

                    <td style="padding: 5px;">
                        <a href="{% url "group:edit" group.pk %}"> Edit </a>
                    </td>

                    <td style="padding: 5px;">
                        <a href="{% url "group:delete" group.pk %}"> Delete </a>
                    </td>

                </tr>

            {% endfor %}

        </table>

    {% endif %}
{% endblock %}