{% extends "base.html" %}

{% block title %} - Group Info {{ group.name }} {% endblock %}

{% block content %}

    <div class="container text-center">
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <h3>{{ group.name }}</h3>

                <table class="table table-hover">
                    <tr>
                        <th>
                            {% if started %} Started on: {% else %} Starts on: {% endif %}
                        </th>
                        <td>
                            {{ group.start_date }}
                        </td>
                    </tr>


                    {% if group.description %}
                        <tr>
                            <th>
                                Description:
                            </th>
                            <td>
                                {{ group.description }}
                            </td>
                        </tr>
                    {% endif %}

                </table>


                <a href="{% url "group:edit" group.pk %}" class="btn btn-outline-primary m-2">Edit</a>
                <a href="{% url "group:delete" group.pk %}" class="btn btn-outline-danger m-2">Delete</a>
                <br>
                <a href="{% url "group:all" %}" class="btn btn-outline-primary m-2">All Groups</a>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

{% endblock %}