{% extends "base.html" %}

{% block content %}
    <a href="{% url "teacher:create" %}">Create new Teacher</a><br><br>

    {% if not all_teachers %}

        <p>No teachers</p>

    {% else %}

        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Salary
                </th>
                <th></th>
                <th></th>
            </tr>

            {% for teacher in all_teachers %}

                <tr>

                    <td>
                        <a href="{% url "teacher:info" teacher.pk %}"> {{ teacher.name }} {{ teacher.surname }} </a>
                    </td>

                    <td>
                        {{ teacher.salary }}
                    </td>

                    <td>
                        <a href="{% url "teacher:edit" teacher.pk %}"> Edit </a>
                    </td>

                    <td>
                        <a href="{% url "teacher:delete" teacher.pk %}"> Delete </a>
                    </td>

                </tr>

            {% endfor %}

        </table>

    {% endif %}
{% endblock %}