<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Django LMS</title>
        <style>
            table {
                margin: auto;
            }
            table td {
                padding: 5px;
            }
        </style>
    </head>
    <body style="text-align: center; background-color: antiquewhite;">
        <div style="padding-bottom: 20px">
            {% include "patterns/navigator.html" %}
        </div>

        <div>
            {% block content %}
            {% endblock %}
        </div>

        <div style="padding-top: 20px">
            {% include "patterns/footer.html" %}
        </div>
    </body>
</html>