<h1>Django LMS</h1>
<br>

<table style="padding: 10px; font-size: 1.2em; width: 50%;">
    <tr>
        <th width="150px">
            <a href="{% url "home" %}">Main page</a>
        </th>
        <th width="150px">
            <a href="{% url "students" %}"> All students </a>
        </th>

{#        <th width="150px">#}
{#            <a href="{% url "" %}">  </a>#}
{#        </th>#}
{#        <th width="150px">#}
{#            <a href="{% url "" %}">  </a>#}
{#        </th>#}

    </tr>
</table>

<hr>